.cards-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px 0;

  
}

.cards-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.card {
  flex: 0 0 auto;
  width: 300px;
  scroll-snap-align: start;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.page-section__inner {
  position: relative;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #323831;
  color: #fff;
  border: none;
  padding: 50px;
  z-index: 2;
  cursor: pointer;
    border-radius: 100%;
    opacity: 0.3;

    padding: 24px;
    font-size: 24px;
}

.slider-button:hover {
  background: rgb(151, 218, 96);
  opacity: 0.5;

}
.slider-button.prev {
  left: -20px;
}

.slider-button.next {
  right: -20px;
}
